<!doctype html>
<html lang="en" >
<head>
    <title>Simple chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form class="form-inline" method="get" action="/chatlist">
        <label for="userName" class="mr-sm-4 my-4">Введите ваше имя: </label>
        <input type="text" class="form-control" id="userName" name="userName">
        <button class="btn btn-info ml-sm-2" type="submit">Вход</button>
    </form>
</div>
</body>
</html>